# Activer le moteur de réécriture
RewriteEngine On

# Forcer HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Définir index.php comme page par défaut
DirectoryIndex /public/index.php

# Rediriger vers /public/index.php si à la racine
RewriteCond %{REQUEST_URI} ^/?$
RewriteRule ^$ /public/index.php [L]

# Rediriger toutes les URL non existantes vers /public/index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /public/index.php [L,QSA]

# Page d'erreur personnalisée
ErrorDocument 500 /public/500.html

# Activer support WebP
AddType image/webp .webp
